@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

@import '~fullcalendar/dist/fullcalendar.min.css';
@import '~trumbowyg/dist/ui/trumbowyg.css';
@import 'material-full-calendar.scss';

.fc-unthemed {
    td {
        &.fc-today {
            background-color: #F1F2F8;

            span {
                font-weight: bold;
            }
        }

        // &.fc-day:hover {
        //     background-color: #edf8ed;
        // }
    }

    tr {
        border-bottom: none;
    }

    .fc-time,
    .fc-title {
        font-size: 12px;
    }

    button:focus {
        background-color: rgba(158, 158, 158, 0.2)
    }
}

#addEventModal {
    .input-field {
        margin-bottom: 0.2rem;
    }
}

.trumbowyg {
    margin-bottom: 0;

    strong {
        font-weight: bold;
    }
}

.trumbowyg-box, .trumbowyg-editor {
    min-height: 80px;
}

.trumbowyg-textarea {
    min-height: 100px;
}